@model List<Product>

<div class="card">
  @if(!Model.Any()){
       <div class="alert alert-warning">Products Not Found </div>
        }
    

 else{

    <div class="card-header">
        <h3 class="card-title">Bordered Table</h3>
    </div>
  
    <table class="table table-bordered mb-0" role="table">
        <thead>
            <tr>
                <th style="width: 10px" scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model)
            {
                <tr class="align-middle">
                    <td>@product.id</td>
                    <td>@product.Category.name</td>
                     <td>
                        <img src="/image/@product.image" 
                             alt="@product.name" 
                             style="width: 100px; height: 100px; object-fit: cover; border-radius: 5px;" />
                        </td>
                      <td>
                        <a asp-controller="Products" asp-action="remove" asp-route-id="@product.id" class="btn btn-danger btn-sm">
                            Delete
                        </a>
                        <a asp-controller="Products" asp-action="edit" asp-route-id="@product.id" class="btn btn-primary btn-sm">
                            Edit
                        </a>
                         </td>
                </tr>
            }
        </tbody>
    </table>
   
    }
    <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-end">
            <li class="page-item"><a class="page-link" href="#">«</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>
    </div>
</div>